
@{
    ViewBag.Title = "Register";
}

<h2>Регистрация</h2>

<form action="/Home/Register" method="post">
    Логин
    <input name="login" type="text" />
    <br />
    Пароль
    <input name="password" type="password" />
    <br />
    <input type="submit" value="Зарегистрировать" />
</form>
